#brew-finder-page {
	height: 100vh;
}
#brew-finder-page img {
	height: 400px;
	margin: 0 15px 0 15px;
}
.container {
	width: 90vw;
	display: flex;
	flex-direction: column;
	max-width: 1200px;
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
