.contact-form {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.form-group {
	margin-bottom: 20px;
}

input,
textarea {
	display: block;
	width: 96%;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-family: inherit;
}

textarea {
	height: 150px;
	resize: none;
	font-family: inherit;
}

.error {
	color: red;
	font-size: 14px;
	margin-top: 5px;
}

.submit-button {
	background-color: #6a1380;
	font-family: inherit;
	color: #fff;
	padding: 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.submit-button:hover {
	background-color: #81189b;
	transform: scale(1.02);
}

@media (max-width: 480px) {
	input,
	textarea {
		font-size: 14px;
		padding: 8px;
	}

	.submit-button {
		font-size: 14px;
		padding: 8px 0 8px 0;
	}
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
	.contact-form {
		width: 70%;
	}
}
