@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap");

.home-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.home-container h1 {
	font-family: "Chakra Petch", sans-serif;
	margin-top: 0;
	font-size: 120px;
}
.home-container p {
	font-size: 32px;
	padding: 15px;
}
.social-media {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40%;
	right: 1%;
}
.social-media a {
	color: rgb(184, 126, 17);
	font-size: 30px;
}
.social-media a:hover {
	color: rgb(245, 167, 23);
}
@media (max-width: 768px) {
	.home-container h1 {
		font-size: 90px;
	}
	.home-container p {
		font-size: 28px;
	}
}

@media (max-width: 576px) {
	.home-container h1 {
		font-size: 40px;
		margin: 0 auto;
	}
	.home-container p {
		font-size: 18px;
	}
	.social-media {
		display: flex;
		flex-direction: row;
		position: static;
	}
}
