.projectContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.project {
	width: 450px;
}
.img-container {
	overflow: hidden;
	margin-bottom: -10px;
	border-radius: 15px 15px 0 0;
}
.project-image {
	transition: transform 0.5s;
}
.workoutBuilderImage {
	margin: 0;
	height: 300px;
	width: 450px;
}
.brewFinderImage {
	margin: 0;
	height: 300px;
}
.project-image:hover {
	transform: scale(1.05);
}
.projectDescription {
	background-color: rgba(255, 255, 255, 0.07);
	padding: 15px 0 15px 0;
	border-radius: 0 0 15px 15px;
	margin: 0;
}

hr {
	margin: 50px 0 50px 0;
	background-color: rgb(184, 126, 17);
	height: 1px;
	border: none;
}
@media (max-width: 768px) {
}

@media (max-width: 576px) {
	.project {
		width: 150px;
	}
	hr {
		margin: 0;
	}
}
